/* VARIABLES */
:root {
 --petty-color: #2196f3; 
 --black-color: #212121;
 --second-text-color: #757575;
 --other-text-ff: #ffffff;
 --gray-color: #2f303a;
 --white-color: #E5E5E5;
 --white-second-color: #F5F4FA; 
}



/* Logo style */
.logo_style {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 26px;
  line-height: 1.363;
  color: var(--petty-color);
  letter-spacing: 0.03em;
  margin-right: 93px;  
}
.logo_text {
  color: var(--black-color);
}
.logo_text2 {
  color: var(--other-text-ff);

}
/* <!-- Head section --> */
header{
  border-bottom: 1px solid #ECECEC;
  padding-top: 24px;
  padding-bottom: 24px;
}

header .conteiner{

  display: flex;
  align-items: center;
}

.header_link,
.header_contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  color: var(--while-color);
  display: flex;
  margin: 0;
}
header .conteiner .nav .header_link :not(:last-child){
   margin-right: 50px;
}
header .conteiner .header_contacts :not(:last-child) {
  margin-right: 50px;
}

.header_link a:hover, a:focus
 {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  color: var(--petty-color);
}
.header_contacts a:hover, a:focus
 {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  color: var(--petty-color);
}

.header_link  {
  color: var(--black-color);
}
.header_contacts  {
  margin-left: auto;
  color: var(--second-text-color);
}


/* <!-- Main --> */

/* order section */



.boss_tytle {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--gray-color);
  font-family: inherit;
  text-align: center;
  }
 .boss_tytle h1 {
  width: 696;
  text-align: center;
}
.boss_style {  
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  color: var(--other-text-ff);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
}
.button_text {

  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  margin: 30px auto auto;
  border: 0;
  background-color: var(--petty-color);
  border-radius: 4px;
  color: var(--other-text-ff);
  cursor: pointer;
  padding: 10px 32px;
}
.current{
  color: var(--petty-color);
}



/* info about us section */


.info_about_us{  

  padding-top: 94px;
  padding-bottom: 94px;
}

.info_about_us .conteiner li {
  width: 270px;
  
  
}
.info_about_us .conteiner ul{  

  font-size: 14px;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: space-between;
    
}
.info_about_us .conteiner ul li p {
  margin-top: 10px; 
  
}
.info_about_us h3{
  font-weight: bold;
  line-height: 1.172;
  color: var(--black-color);  
}
.info_about_us .conteiner p{
  line-height: 1.714;
  color: var(--second-text-color);
  padding: 0;
}
   
/* studio section */
.studio_style{
  padding-bottom: 94px;
}

.studio_style .conteiner ul{
  display: flex;
  justify-content: center;

}
.studio_style .conteiner ul :not(:last-child) {
  margin-right: 30px;
}

.style_text_h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.171;
  letter-spacing: 0.03em;
  color: var(--black-color);
  text-align: center;
  padding-bottom: 50px;

}

/* team section */

.team_section_style {
  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--white-second-color);
}

.team_section_style .conteiner .style_text_h2{
justify-content: center;
}
.team_section_style .conteiner ul{
  display: flex;
  justify-content: space-between;
  text-align: center;
  
}
.team_section_style .conteiner ul h3{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.171;
  letter-spacing: 0.03em;
  color: var(--black-color);
}
.team_section_style .conteiner ul p{
  font-size: 16px;
  line-height: 1.171;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-top: 10px;
}
.team_item {
  padding: 30px 0;
}


.team_section_style .conteiner ul li{
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--other-text-ff);
}

/* PORTFOLIO */

/* main style */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.conteiner .button_port_style {
display: flex;
justify-content: center;
margin-bottom: 50px;
}
.conteiner .button_port_style :not(:last-child){
  margin-right: 8px;
}
.button_port_style li {
  list-style-type: none;

}

.button_port_style button  {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  background: var(--white-second-color);
  border-radius: 4px;
  color: var(--black-color);
  cursor: pointer;
  border-width: 0px;
}

.button_port_style button a:hover,
.button_port_style button a:focus {
  background: var(--petty-color);
  color: var(--other-text-ff);
  
}
.style_title_port{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  margin-top: -30px;
  margin-left: -30px; 
  }
   
  .style_title_port li {  
    background-color: var(--other-text-ff);
    outline: 1px solid #EEEEEE;
    margin-top: 30px;
    margin-left: 30px; 
    flex-basis: calc((100% / 3) - 30px);       
  }
 
.port_item {
  padding: 20px 24px;
    
}
.style_title_port .port_item h3{
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-color);
  margin-bottom: 4px; 
    
}

.style_title_port .port_item p{
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
 
}

/* footer section */
footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--gray-color);
}
.footer_cotacts_style{  
  color: rgba(255, 255, 255, 0.6);
}
footer .conteiner .logo_style {
  margin-bottom: 20px;
  margin-right: 0;
}

footer .conteiner ul {
  display: inline-block;
  font-style: normal;
  background: var(--gray-color);
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.adress_style{
  color: var(--other-text-ff);
}
.adress_style li {
  height: 21px;
  }
.adress_style :not(:first-child){
    margin-top: 9px
  }