/* VARIABLES */
:root {
 --petty-color: #2196f3; 
 --black-color: #212121;
 --second-text-color: #757575;
 --other-text-ff: #ffffff;
 --gray-color: #2f303a;
 --white-color: #E5E5E5;
 --white-second-color: #F5F4FA; 
}



/* Logo style */
.logo_style {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 26px;
  line-height: 1.363;
  color: var(--petty-color);
  letter-spacing: 0.03em;
  margin-right: 93px;  
}
.logo_text {
  color: var(--black-color);
}
.logo_text2 {
  color: var(--other-text-ff);

}
/* <!-- Head section --> */
header{
  border-bottom: 1px solid #ECECEC;
}

header .conteiner{

  display: flex;
  align-items: center;
    
}
.header_link,
.header_contacts {
  margin: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  color: var(--while-color);
  display: inline-block;
  display: flex;
}
header .conteiner .nav .header_link :not(:last-child){
   margin-right: 50px;
}
header .conteiner .header_contacts :not(:last-child) {
  margin-right: 50px;
}

.header_link a:hover, a:focus
 {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  color: var(--petty-color);
}
.header_contacts a:hover, a:focus
 {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  color: var(--petty-color);
}

.header_link  {
  color: var(--black-color);
  justify-content: start;  
}
.header_contacts  {
  color: var(--second-text-color);
  justify-content: end;
  margin-left: 331px;
}


/* <!-- Main --> */

/* order section */



.boss_tytle {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--gray-color);
  font-family: inherit;
  }
  .boss_tytle .conteiner{
    display: flex;
    flex-direction: column;
  }


.boss_tytle h1 {
  display: inline-block;
  text-align: center;
  width: 696;
;
}
.boss_style {
  display: inline-block;  
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  color: var(--other-text-ff);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
}
.button_text {

  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: inline-block;
  margin: 30px auto auto;
  border: 0;
  background-color: var(--petty-color);
  border-radius: 4px;
  color: var(--other-text-ff);
  cursor: pointer;
  padding: 10px 32px;
}
.current{
  color: var(--petty-color);
}



/* info about us section */



.info_about_us .conteiner li {
  width: 270px;
  
  
}
.info_about_us .conteiner{  
  margin: 94px auto;
  font-size: 14px;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: space-between;
    
}
.info_about_us .conteiner li p {
  margin-top: 10px; 
  
}
.info_about_us h3{
  font-weight: bold;
  line-height: 1.172;
  color: var(--black-color);  
}
.info_about_us .conteiner p{
  line-height: 1.714;
  color: var(--second-text-color);
  padding: 0;
}
/* .info_about_us .conteiner :not(:first-child) {
  padding-left: 30px;
} */
   
  

/* studio section */
.studio_style .conteiner ul{
  display: flex;
  margin-bottom: 94px;
}
.studio_style .conteiner ul :not(:last-child) {
  margin-right: 30px;
}

.style_text_h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.171;
  letter-spacing: 0.03em;
  color: var(--black-color);
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 0;
}

/* team section */

.team_section_style {
  padding: 94px 0;
  background: var(--white-second-color);
}

.team_section_style .conteiner .style_text_h2{
justify-content: center;
}
.team_section_style .conteiner ul{
  display: flex;
  justify-content: space-between;
  text-align: center;
  
}
.team_section_style .conteiner ul h3{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.171;
  letter-spacing: 0.03em;
  color: var(--black-color);
  margin-top: 30px;
}
.team_section_style .conteiner ul p{
  font-size: 16px;
  line-height: 1.171;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-top: 10px;
}

.team_section_style .conteiner ul li{
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--other-text-ff);
}
/* .team_section_style .conteiner ul :nth-child(2) {
  margin-left: 30px;
  margin-right: 30px;
}
.team_section_style .conteiner ul :last-child {
  margin-left: 30px;
} */

/* PORTFOLIO */

/* main style */

.portfolio .conteiner{
  padding: 94px 0;
}

.conteiner .button_port_style {
display: flex;
justify-content: center;
margin-bottom: 26px;
}
.conteiner .button_port_style :nth-child(2){
  margin: 0 8px;
}
.conteiner .button_port_style :nth-child(4){
  margin: 0 8px;
}
.button_port_style li {
  list-style-type: none;

}

.button_port_style button  {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  background: var(--white-second-color);
  border-radius: 4px;
  color: var(--black-color);
  cursor: pointer;
  border-width: 0px;
}

.button_port_style button a:hover,
.button_port_style button a:focus {
  background: var(--petty-color);
  color: var(--other-text-ff);
  
}
.style_title_port{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  }
  .style_title_port li{
    background-color: var(--other-text-ff);
    ;
    border: 1px solid #EEEEEE;
    margin-top: 30px;
  }
/* .style_title_port :nth-child(2){
  margin: 30px 30px 0;
}
.style_title_port :nth-child(5){
  margin: 30px 30px 0;}
  .style_title_port :nth-child(8){
    margin: 30px 30px 0;}
.style_title_port li{
  list-style-type: none;
   */

.style_title_port h3{
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-color);
  margin-top: 20px;
  margin-left: 24px;
  margin-bottom: 0;
  
}
.style_title_port p{
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 20px;
  margin-top: 4px;
  margin-left: 24px;

}

/* footer section */

.footer_style{
  font-style: normal;
  background: var(--gray-color);
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  }
.footer_style .conteiner{
  padding: 60px 0;
}
.footer_cotacts_style{  
  color: rgba(255, 255, 255, 0.6);
}
.footer_style .conteiner a {
  display: inline-block;
}

.adress_style{
  color: var(--other-text-ff);
  width: 231px;
}
.adress_style .footer_cotacts_style {
  margin-top: 9px;
  height: 21px;
}
.adress_style .footer_cotacts_style :last-child{
  margin-top: 9px
}